{
  "extends": ["o2team"],
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": "off",
    "prefer-rest-params": "off",
    "arrow-body-style": "warn",
    "camelcase": 0,
    "no-irregular-whitespace": 0,
    "prefer-const": 1,
    "array-callback-return": 0,
    "no-mixed-operators": 0,
    "no-unused-vars": 0,
    "no-case-declarations": 0
  },
  "overrides": [
    {
      "files": ["build/*.js"],
      "rules": {
        "import/no-commonjs": "off"
      }
    }
  ]
}
